<div id='home_tab'>

<div>
Are your puzzled by your own sexual orientation? Find nobody to share your bisexual experience? Don't know how to come out to be bi? Bisexual are be physically, emotionally or sexually attracted by both female and male including transgender people. They love to explore their sexuality, try new things. All bisexual, bi-curious, transgendered, open-minded singes and couples including lesbian and gay are like-minded persons. Guide or to be guided is always involved in the special life style. 

Still puzzled or want to confirm? Like to experience? Come to find your like-minded partner. 
</div>
<div style="height: 20px; margin-top: 25px;">
    <b>Featured Bisexual Profile</b>
</div>
<div id='featured_list'>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/9/979/130009979-452538i.jpg" border="0" width="145" /></div>
    <div align="center">butterfly48</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/3/833/130008833-451787i.jpg" border="0" width="145" /></div>
    <div align="center">JennaBenna84</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/9/989/130009989-452544i.jpg" border="0" width="145" /></div>
    <div align="center">toxicxlipgloss</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/4/304/15710304-445088i.jpg" border="0" width="145" /></div>
    <div align="center">phor2zero</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/8/548/130009548-452271i.jpg" border="0" width="145" /></div>
    <div align="center">jaclark</div>
</div>
<div style="clear: left;"></div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/6/126/15519126-451158i.jpg" border="0" width="145" /></div>
    <div align="center">missmarie2000</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/4/524/130005524-450903i.jpg" border="0" width="145" /></div>
    <div align="center">CHRiSSi3B3AR</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/7/927/130005927-449690i.jpg" border="0" width="145" /></div>
    <div align="center">cityfem100</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/5/775/130005775-449598i.jpg" border="0" width="145" /></div>
    <div align="center">karaline2000</div>
</div>
<div style="border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;">
    <div align="center"><img src="http://s.commercialless.com/de/picsap8/7/147/4101147-442766i.jpg" border="0" width="145" /></div>
    <div align="center">gordofsky29</div>
</div>
</div>
<div style="clear: left;"></div>
<div style="margin-top: 18px;">
    All profiles are real. To contact them, please leave your basic information on My Bisexual Profile first.
</div>

</div>