<div id='home_tab'>
<div>
Are your puzzled by your own sexual orientation? Find nobody to share your bisexual experience? Don't know how to come out to be bi? Bisexual are be physically, emotionally or sexually attracted by both female and male including transgender people. They love to explore their sexuality, try new things. All bisexual, bi-curious, transgendered, open-minded singes and couples including lesbian and gay are like-minded persons. Guide or to be guided is always involved in the special life style. 

Still puzzled or want to confirm? Like to experience? Come to find your like-minded partner. 
</div>
<div style="height: 20px; margin-top: 25px;">
    <b>Featured Bisexual Profile</b>
</div>
<div id='featured_list'>
    <div id="featured_loading">
        <img src="http://x.myspacecdn.com/modules/common/static/img/loadercircles.gif" />
        Loading...
    </div>
</div>
<div style="clear: left;"></div>
<div style="margin-top: 18px;">
    All profiles are real. To contact them, please leave your basic information on My Bisexual Profile first.
</div>
</div>
<script type="text/javascript"> 
    // global variable used to hold the ID of the clicked users
	var featured_user = "<div class='feature_user' style='border: 1px solid #d6cfc6; margin: 2px; float: left; height: 130px;'>" +
						"<div align='center'><img src='{0}' border='0' width='145' /></div>" +
						"<div align='center'>{1}</div></div>";
	function load_featured_list()
	{
		function render_featured_list(response, url, errored)
		{
			if(errored){return;}
		        //trace(response.text);
			$("#featured_loading").css({display:'none'});
			var featured_container = $("#featured_list");
			$.each(response.data, function(i, e){
				image = e[0]; name = e[1];
				var user = featured_user.replace("{0}", image).replace("{1}", name);
				featured_container.append($(user));
			});
		}
	    var param = {};
		param[gadgets.io.RequestParameters.CONTENT_TYPE] = gadgets.io.ContentType.JSON;
	    gadgets.io.makeRequest("http://deonwu84.appspot.com/deonwu/featured", render_featured_list, param);
	}
	gadgets.util.registerOnLoadHandler(load_featured_list);
</script>