<div id='invite_tab' style='display:none'>

<style>
#outer{font-family:Verdana;font-size:0.7em;padding:5px;}
#spinner{color:#000;font-size:1.3em;}
.divider{margin-bottom:5px; border-bottom:solid 1px black;}
.float{float:left;}
.clear{clear:both;}
.friend{
    	border:solid 1px black;
    	width:80px;
    	height:120px;_height:130px;
    	margin:5px;
    	cursor:pointer;
    	overflow:hidden;
}
.friend div{vertical-align:top;}
.friend img
{
	width:70px;
	max-height:100px;
	margin-top:5px;
}
.callout{font-size:14px;font-weight:bold;}
.text{
	font-size:14px;
}
.bottom{padding-bottom:2px;}
.bottom_10{padding-bottom:10px;}
.hide{display:none;}
.error{ font-size:11px; color:Red;}
</style>

<div id="outer">
    <div id="spinner">
        <img src="http://x.myspacecdn.com/modules/common/static/img/loadercircles.gif" />
        Loading...
    </div>
    <div id="content" style="display:none;"> 
		<div><b>Select friends to share this application,</b> 
		and click <button onclick="MSAPP.multipleRSAWrapper();">share with friends</button> to send request.</div>
        <div id="friends" class="divider"></div>
    </div>
</div>
 
<script type="text/javascript"> 
    // global variable used to hold the ID of the clicked users
	MSAPP.Friends = {}
	MSAPP.Friends.friends = {};
    MSAPP.Friends.friend_clicked = [];
	
	MSAPP.freinds_list = function(callback){
		var os = opensocial.Container.get();
		var request =  os.newDataRequest();	
	
		params = {};
		params[opensocial.IdSpec.Field.USER_ID] = opensocial.IdSpec.PersonId.VIEWER;
		params[opensocial.IdSpec.Field.NETWORK_DISTANCE] = 1;
		params[opensocial.DataRequest.PeopleRequestFields.FIRST] = 1;
		params[opensocial.DataRequest.PeopleRequestFields.MAX] = 40;
		var idspec = opensocial.newIdSpec(params);
		
		request.add(request.newFetchPeopleRequest(idspec), "friends");
		function request_callback(response){
			if(response.hadError()){return;}
			callback(response.get("friends").getData().asArray());
		}
		request.send(request_callback);
	}
	
	MSAPP.init_invite = function() {		
		MSAPP.freinds_list(
			function(freinds_list){				
				$("#spinner").css({display:'none'});
				$("#content").css({display:'block'});
				MSAPP.Friends.drawFriends(freinds_list, "friends");
			}	
		);
	}
 
    // wrapper for requestShareApp
    MSAPP.Friends.friendClicked = function(id, type){
        var friends_array = MSAPP.Friends.friend_clicked; 
        // look for duplicates
        for(var i = 0; i < friends_array.length; i++){
            if(friends_array[i] === id){
                // duplicate found, remove it from the list and reset the background
                document.getElementById(type + "_" + id).style.backgroundColor = "white";
                friends_array.splice(i, 1);
                return;
            }
        }
 
        // not a duplicate, add the id to the list
        document.getElementById(type + "_" + id).style.backgroundColor = "yellow";
        friends_array.push(id);
    }
 
    // wrap opensocial.requestShareApp
    MSAPP.multipleRSAWrapper = function(){
        // create the rSA message
        var body = "Hey [recipient]! [sender] wants you to ";
        body += "add [app]. It's way awesome!";
        var title = "A fun way to view your profile!";
 
        var params = {};
        params[opensocial.Message.Field.TITLE] = title;
        // create an opensocial.Message object
        var reason = opensocial.newMessage(body, params);
        // initiate requestShareApp
        opensocial.requestShareApp(MSAPP.Friends.friend_clicked, reason, MSAPP.rsaCallback);
    }
 
    // callback for requestShareApp
    MSAPP.rsaCallback = function(response){
        if(response && !response.hadError()){
 
            for(var i = 0; i < MSAPP.Friends.friend_clicked.length; i++){
 
                // use the global friend_clicked variable to
                // grab the correct div from the DOM
                var friend = document.getElementById("friends_" + MSAPP.Friends.friend_clicked[i]);
 
                if(friend){
                    // if "Send" was clicked the response data
                    // will be 1, otherwise a 0
                    if(1 === response.getData()){
                        // remove that friend from the list
                        if(friend.parentNode){
                            friend.parentNode.removeChild(friend);
                        }
                    }
                    else{
                        friend.style.backgroundColor = "red";
                    }
                }
            }
        }
 
        MSAPP.Friends.friend_clicked = [];
    }
 
    // parses the friends response and outputs it to the page
    MSAPP.Friends.drawFriends = function(friends, friend_type){
        var friends_div = document.getElementById("friends");
        var clear_div = '<div class="clear"></div>';
        var friend_format = '<center><img src="{0}" /><div>{1}</div></center>';
        var container = document.createElement("div");
		
        var id, image, name;
        for(var i = 0; i < friends.length; i++){
            id = friends[i].getId();
            image = friends[i].getField(opensocial.Person.Field.THUMBNAIL_URL);
            name = friends[i].getDisplayName();
 
            if(!id || !image || !name) continue;
 
            var div = document.createElement("div");
            div.id = friend_type + "_" + id;
            div.className = "friend float";
            div.innerHTML = friend_format.replace("{0}", image).replace("{1}", name);
 
            if(div.atachEvent){
                div.attachEvent("onclick", "MSAPP.Friends.friendClicked('" + id + "', '" + friend_type + "')");
            }
            else{
                div.setAttribute("onclick", "MSAPP.Friends.friendClicked('" + id + "', '" + friend_type + "')");
            }
 
            container.appendChild(div);
        }
        friends_div.appendChild(container);
 
        if(friends.length > 0){
            friends_div.innerHTML += clear_div;
        }
    }
	
	gadgets.util.registerOnLoadHandler(MSAPP.init_invite);
</script>
	
</div>