<div id='invite_tab' style='display:none'>

<style>
#outer{font-family:Verdana;font-size:0.7em;padding:5px;}
#spinner{color:Red;font-size:1.3em;}
#friends_callout, app_friends_callout{display:none;}
.divider{margin-bottom:5px; border-bottom:solid 1px black;}
.float{float:left;}
.clear{clear:both;}
.friend{
    	border:solid 1px black;
    	width:80px;
    	height:120px;_height:130px;
    	margin:5px;
    	cursor:pointer;
    	overflow:hidden;
}
.friend div{vertical-align:top;}
.friend img
{
	width:70px;
	max-height:100px;
	margin-top:5px;
}
.callout{font-size:14px;font-weight:bold;}
.text{
	font-size:14px;
}
.bottom{padding-bottom:2px;}
.bottom_10{padding-bottom:10px;}
.hide{display:none;}
.error{ font-size:11px; color:Red;}
</style>

<div id="outer">
    <div id="spinner">
        <img src="http://x.myspacecdn.com/modules/common/static/img/loadercircles.gif" />
        Loading...
    </div>
    <div id="content" style="display:none;"> 
        <div id="friends_callout" class="callout">
            <button onclick="MSAPP.multipleRSAWrapper();">Invite</button> some friends!
        </div>
		<div><b>Not installed SeniorMatch</b></div>
        <div id="friends" class="divider"></div>
		<div><b>installed SeniorMatch</b></div>
        <div id="app_friends" class="divider"></div>
    </div>
</div>
 
<script type="text/javascript"> 
    // global variable used to hold the ID of the clicked users
	MSAPP.Friends = {}
    MSAPP.Friends.friend_clicked = [];
    MSAPP.Friends.app_friend_clicked = [];
	
	MSAPP.init_invite = function() {
		//if(!MSAPP.isAdded()){return;};
		alert("init_invite init_invite");
		var os = opensocial.Container.get();
		var request =  os.newDataRequest();	
		params = {};
		params[opensocial.IdSpec.Field.USER_ID] = opensocial.IdSpec.PersonId.VIEWER;
		params[opensocial.IdSpec.Field.NETWORK_DISTANCE] = 1;
		var idspec = opensocial.newIdSpec(params);
		request.add(request.newFetchPeopleRequest(idspec), "friends");

		// filter by users with the app
		params[opensocial.DataRequest.PeopleRequestFields.FILTER] = opensocial.DataRequest.FilterType.HAS_APP;
		// add the fetch friends with the app request to the queue
		request.add(request.newFetchPeopleRequest(idspec, params), "app_friends");
		
		request.send(MSAPP.process_friends_list);
	//gadgets.window.adjustHeight();
	}
	
    MSAPP.Friends.friends = {};
    MSAPP.Friends.app_friends = {};	
	
	MSAPP.process_friends_list = function(response){
        var parse_friends = true;
        var parse_app_friends = true;	
		if(response.hadError()){
            var friends = response.get("friends");
            var app_friends = response.get("app_friends");
            var checkForError = function(ri){
                if(!ri){
                    return false;
                }
                else if(ri.hadError()){
                    if(ri.getErrorCode() === opensocial.ResponseItem.Error.INTERNAL_ERROR){
                        // retry the request?
                    }
                    return false;
                }
                return true;
            }			
            parse_friends = checkForError(friends);
            parse_app_friends = checkForError(app_friends);			
		}else {
            if(!response.get("friends")) parse_friends = false;
            if(!response.get("app_friends")) parse_app_friends = false;		
		}
		
        if(parse_friends){
            MSAPP.Friends.friends.array = response.get("friends").getData().asArray();
            MSAPP.Friends.drawFriends(MSAPP.Friends.friends.array, "friends");
        }
 
        if(parse_app_friends){
            MSAPP.Friends.app_friends.array = response.get("app_friends").getData().asArray();
            MSAPP.Friends.drawFriends(MSAPP.Friends.app_friends.array, "app_friends");
        }
		$("#spinner").css({display:'none'});
		$("#content").css({display:'block'});
			
	}
 
    // wrapper for requestShareApp
    MSAPP.Friends.friendClicked = function(id, type){
        var friends_array;
        switch (type){
            case "friends":
                friends_array = MSAPP.Friends.friend_clicked;
                break;
            case "app_friends":
                friends_array = MSAPP.Friends.app_friend_clicked;
                break;
        }
 
        // look for duplicates
        for(var i = 0; i < friends_array.length; i++){
            if(friends_array[i] === id){
                // duplicate found, remove it from the list and reset the background
                document.getElementById(type + "_" + id).style.backgroundColor = "white";
                friends_array.splice(i, 1);
                return;
            }
        }
 
        // not a duplicate, add the id to the list
        document.getElementById(type + "_" + id).style.backgroundColor = "yellow";
        friends_array.push(id);
    }
 
    // wrap opensocial.requestShareApp
    MSAPP.multipleRSAWrapper = function(){
        // create the rSA message
        var body = "Hey [recipient]! [sender] wants you to ";
        body += "add [app]. It's way awesome!";
        var title = "A fun way to view your profile!";
 
        var params = {};
        params[opensocial.Message.Field.TITLE] = title;
 
        // create an opensocial.Message object
        var reason = opensocial.newMessage(body, params);
 
        // initiate requestShareApp
        opensocial.requestShareApp(MSAPP.Friends.friend_clicked, reason, MSAPP.rsaCallback);
    }
 
     MSAPP.notiPermCB = function(){
        // re-check perms
        // or does the response contain the new perms?
        if(opensocial.hasPermission(MyOpenSpace.Permission.VIEWER_SEND_NOTIFICATIONS)){
            ProfileDeluxe.multipleNotificationWrapper();
        }
    }
	
    // callback for requestShareApp
    MSAPP.rsaCallback = function(response){
        if(response && !response.hadError()){
 
            for(var i = 0; i < MSAPP.Friends.friend_clicked.length; i++){
 
                // use the global friend_clicked variable to
                // grab the correct div from the DOM
                var friend = document.getElementById("friends_" + MSAPP.Friends.friend_clicked[i]);
 
                if(friend){
                    // if "Send" was clicked the response data
                    // will be 1, otherwise a 0
                    if(1 === response.getData()){
                        // remove that friend from the list
                        if(friend.parentNode){
                            friend.parentNode.removeChild(friend);
                        }
                    }
                    else{
                        friend.style.backgroundColor = "red";
                    }
                }
            }
        }
 
        MSAPP.Friends.friend_clicked = [];
    }
 
    // parses the friends response and outputs it to the page
    MSAPP.Friends.drawFriends = function(friends, friend_type){
        var friends_div, activity_friend = null;
        switch(friend_type){
            case "app_friends":
                //document.getElementById("app_friends_callout").style.display = "block";
                friends_div = document.getElementById("app_friends");
                break;
            case "friends":
                document.getElementById("friends_callout").style.display = "block";
                friends_div = document.getElementById("friends");
                break;
        }
 
        var clear_div = '<div class="clear"></div>';
        var friend_format = '<center><img src="{0}" /><div>{1}</div></center>';
 
        var container = document.createElement("div");
 
        var id, image, name;
        for(var i = 0; i < friends.length; i++){
            id = friends[i].getId();
            image = friends[i].getField(opensocial.Person.Field.THUMBNAIL_URL);
            name = friends[i].getDisplayName();
 
            if(!id || !image || !name) continue;
 
            var div = document.createElement("div");
            div.id = friend_type + "_" + id;
            div.className = "friend float";
            div.innerHTML = friend_format.replace("{0}", image).replace("{1}", name);
 
            if(div.atachEvent){
                div.attachEvent("onclick", "MSAPP.Friends.friendClicked('" + id + "', '" + friend_type + "')");
            }
            else{
                div.setAttribute("onclick", "MSAPP.Friends.friendClicked('" + id + "', '" + friend_type + "')");
            }
 
            container.appendChild(div);
        }
 
        friends_div.appendChild(container);
 
        if(friends.length > 0){
            friends_div.innerHTML += clear_div;
        }
    }
	
	gadgets.util.registerOnLoadHandler(MSAPP.init_invite);
</script>
	
</div>