{% extends "weibo/logined_base.html" %}

{% load reporting_tags %}

{% block content %}

	<table>
		<tr>
			<td>发布：{{task.user.screen_name}}, 
			状态：{{task.get_task_status_display}},
			
			价格：小于1万粉:{{task.price_1}}元, 1万～10万:{{task.price_2}}元
			10万以上:{{task.price_3}}元
			
			&nbsp;&nbsp;
			<a href="{%app_root%}/do_task/{{task.id}}">参加竞标</a>
			</td>			
		</tr>
		<tr>
			<td>{{task.content}}</td>
		</tr>
		<tr>
			<td>标签:{{task.tags}}</td>
		</tr>
		<tr>
			<td>任务说明:{{task.desc}}</td>
		</tr>
	</table>
	<br/>

	{% for e in comments %}
	
	<table>
		<tr>
			<td width="120px;">{{e.user.screen_name}}</td>

			<td>
			{% if e.contract %}
				<div>
				报价：{{e.contract.price}},
				状态：{{e.contract.get_status_display}},
				</div>				
				<!--  {{e.get_comment_type_display}} -->
				{% if e.contract.is_submit %}
					<div>
					{%for file in e.contract.uploaded_files %}
						围脖地址：{{file.desc}}<br/>
						<img class='task' src='{{file.external_link}}' /><br/>
					{%endfor%}
					</div>
				{%endif%}
						
				<br/>
			{% endif %}		
			{{e.desc}}
			<br/>
			{{e.create_time|date:"m月d日 H:i"}}
			</td>
		</tr>
	</table>
	{%endfor%}
	
	<form action='{%app_root%}/task/comment' method='POST'>
		评论:
		<input type='hidden' name='tid' value="{{task.id}}" />
		<textarea cols='60' rows='5' name='content'></textarea>
		<input type='submit' name='submit' value="评论" />
	</form>	
{% endblock %}
