<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coci.nsn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        
        <provider android:name="AreaCiProvider"
            android:authorities="com.coci.provider.AreaCI"
        />
        
        <service android:name=".DataSyncService" />        
        
        <activity
            android:label="@string/app_name"
            android:name=".MainTabActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="prb"
            android:name=".PRBActivity" >
	    </activity>
	            
        <activity
            android:label="policy"
            android:name=".TaskPolicyActivity" >
	    </activity>
        <activity
            android:label="queue"
            android:name=".TaskQueueActivity" >
	    </activity>
        <activity
            android:label="result"
            android:name=".TaskResultActivity" >
	    </activity>   
        <activity
            android:label="report"
            android:name=".ReportActivity" >
	    </activity>   
    </application>

</manifest>