.navigation, #navigation_ucp, #navigation_aucp {
	color: White;
	background: #698CC3;
	height: 24px;
	line-height: 24px;
	width: 100%;
	text-align: center;
}
.navigation a, #navigation_ucp a, #navigation_aucp a {
	color: White;
}
.navigation a:hover, #navigation_ucp a:hover, #navigation_aucp a:hover {
	font-weight: bold;
}
.navigation span, #navigation_ucp span, #navigation_aucp span {
	color: Black;
	font-weight: bold;
}

.content {
	line-height: 18px;
}


table {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}


a, span.a {
	text-decoration: none;
	color: #036;
	background: Transparent;
	cursor: pointer;
}
a:hover, span.a:hover {
	text-decoration: underline;
	background: Transparent;
	cursor: pointer;
}
abbr, acronym {
	cursor: help;
	border-bottom: 1px dashed Black;
}
input,select,textarea {
	border: 1px solid #9EB6D8;
	font: 12px 宋体, Arial, Tahoma, Verdana;
	color: Black;
	background: #F8F8F8;
}
input,select {
	margin-top: 2px;
}

body {
	margin: 0;
	padding: 0;
	display: block;
	border: 0;
	font: 12px 宋体, Arial, Tahoma, Verdana;
	color: Black;
	background: White;
}
img {
	border: 0;
}
img.cooper {
	height: 33px;
}
form {
	margin: 0;
}

/* Global Classes */
.category {
	height: 30px;
	background: #D5D5D5;
	line-height: 30px;
	font-weight: bold;
	width: 100%;
	margin-top: 1px;
	text-align: center;
}
.col0 {
	width: 100%;
	line-height: 30px;
	background: #F7F7F7;
	margin: 1px 0 0;
}
.col1 {
	width: 100%;
	line-height: 30px;
	background: #EBEEDB;
	margin: 1px 0 0;
}
.col2 {
	width: 100%;
	line-height: 30px;
	background: #D8DEB8;
	margin: 1px 0 0;
}
.colt {
	height: 28px;
	width: 100%;
	background: #D5D5D5;
	line-height: 28px;
	margin: 1px 0 0;
	font-weight: bold;
}
.head {
	color: White;
	background: #698CC3;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	width: 100%;
	text-align: center;
}
.sideborder {
	width: 160px;
	float: left;
	border: 1px solid #CCC;
	padding: 1px;
	margin-bottom: 10px;
}
.midborder {
	width: 550px;
	float: left;
	border: 1px solid #CCC;
	padding: 1px;
	margin-bottom: 10px;
}
.rightborder {
	width: 710px;
	float: left;
	border: 1px solid #CCC;
	padding: 1px;
	margin-bottom: 10px;
}
.fullborder {
	width: 886px;
	float:left;
	border: 1px solid #CCC;
	padding: 1px;
	margin-bottom: 10px;
}
.letterindex {
	height: 30px;
	line-height: 30px;
	background: #F7F7F7;
}
.smalltxt {
	color: #696969;
}

/* Begin Pagelinks */

.pages {
	padding: 1px;
	margin: 2px 0;
	clear: left;
	font-size: 100%;
}
.pages a, .pages span {
	display: block;
	float: left;
	line-height: 18px;
	height: 18px;
	padding: 0.1em 0.5em;
	margin-right: 0.1em;
	border: 1px solid White;
	background: White;
}
.pages a.other {
	color: #2E6AB1;
}

.pages span.current {
	border: 1px solid #2E6AB1;
	font-weight: bold;
	background: #698CC3;
	color: White;
}

.pages a {
	border: 1px solid #9AAFE5;
	color: #698CC3;
	text-decoration: none;
}

.pages a:hover {
	border-color: #2E6AB1;
	text-decoration: none;
}

.pages a.nextprev {
	font-weight: bold;
}

.pages span.nextprev {
	color: White;
	background: #698CC3;
	border: 1px solid #9AAFE5;
}

/* End Pagelinks */

#page {
	margin: 0 auto;
	padding: 0;
	width: 900px;
	background: Transparent;
}

#error {
	width: 60%;
	border: 1px solid #698CC3;
	margin-top: 50px !important;
	margin: 20px auto;
	padding: 1px;
	background: Transparent;
}

#errorinfo {
	width: 100%;
	line-height: 30px;
	text-align: center;
	background: #F7F7F7;
	font-weight: normal;
	font-size: 20px;
	color: #D2691E;
}
.errorlink {
	width: 100%;
	line-height: 16px;
	background: #EBEEDB;
	font-weight: normal;
	text-align: center;
}

/* Logo */
#header {
	text-align: center;
	width: 900px;
}
#header {
	position: relative;
	height: 100px;
}
#header div{
	position: absolute;
	top: 0 !important;
	top: 50%;
}
#header div div{
	position: relative;
	top: -50%;
	left: 0;
	text-align:center;
}
#header div#logo {
	float: left;
	width: 180px;
	left: 0;
	margin-top: 8px !important;
	margin: 0;
}
#header div#banner {
	width: 600px;
	left: 200px;
	margin-top: 20px !important;
	margin: 0;
}
#header div#shortcut {
	float: right;
	width: 120px;
	left: 780px;
	margin-top: 29px !important;
	margin: 0;
}



#content {
	clear: left;
}

/* Main */
.main div {
	float: left;
	overflow: visible !important;
	overflow: hidden;
}
.main div div.content {
	background: #F7F7F7;
	margin-top: 1px;
	width: 100%;
	padding: 5px 0;
}
.main div ul {
	margin: 0 auto;
}
.main div li.more {
	clear: both;
	text-align: right;
	list-style-type: none;
}
/* Side */
.main div.side {
	width: 156px !important;
	width: 164px;
	margin: 0 2px;
}
.main div.side ul {
	width: 110px !important;
	width: 150px;
}
.main div.side li {
	margin-left: -40px !important;
	margin: 0;
	list-style-position: inside;
}
.main div.side li.cooper {
	list-style-type: none;
}
.main div.side div.left {
	float: left;
	margin-left: 3px;
	width: 72%;
}
.main div.side div.right {
	text-align: right;
	float: right;
	margin-right: 3px;
	width: 23%;
}
/* Mid */
.main div.mid {
	width: 546px !important;
	width: 554px;
	margin: 0 10px !important;
	margin: 0 1px;
}
.main div.mid ul {
	width: 496px !important;
	width: 540px;
	list-style-type: none;
}
.main div.mid li {
	width: 530px;
	margin-left: -37px !important;
	margin: 0 auto;
}
.main div.mid div.left {
	float: left;
	margin-left: 3px;
	width: 400px;
}
.main div.mid div.mr {
	text-align: right;
	float: right;
	margin-right: 6px !important;
	margin-right: 3px;
	width: 120px;
}
.main div.mid li div.img {
	float: left;
	width: 20%;
}
.main div.mid li div.intro{
	float: left;
	width: 30%;
}
.main div.right {
	width: 704px !important;
	width: 714px;
	float: left;
	margin: 0 13px !important;
	margin: 0 6px;
}
.main div.full {
	width: 880px !important;
	width: 890px;
	float: left;
	margin: 0 3px !important;
	margin: 0 1px;
}
/* Apply */
.appleft {
	width: 198px;
	padding-right: 10px;
	text-align: right;
}
.appright {
	width: 678px;
}
/* Profile */
.proleft {
	width: 277px;
	padding-right: 10px;
	text-align: right;
}
.proright {
	width: 599px;
}
/* Footer */
#footer {
	float: left;
	width: 100%;
	text-align: center;
}
#footer div {
	line-height: 20px;
}
#footer div.copyright {
	color: #999;
}
#footer div.copyright a#by,a:link#by,a:visited#by,a:hover#by {
	color: Black;
}
#footer div.copyright a#ver,a:link#ver,a:visited#ver,a:hover#ver {
	color: #F90;
}
#footer hr {
	width: 100%;
	color: #CCC;
	height: 1px;
}




/* Begin ACP */

/* Begin ACP Border */
#adminright {
	margin: 0 auto;
	padding: 0;
	width: 95%;
	background: #9EB6D8;
}
.adminborder {
	width: 100%;
	float: left;
	border: 1px solid #698CC3;
	padding: 1px;
	margin-bottom: 10px;
}
.admincountborder {
	width: 24%;
	float:left;
	border: 1px solid #698CC3;
	padding: 1px;
	margin: 1px;
	margin-bottom: 10px;
}
.adminhead {
	color: White;
	background: #698CC3;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	width: 99%;
	padding-left: 1%;
	text-align: left;
}
.admintitle {
	width: 90%;
	min-width: 900px;
	margin: 0 auto;
	color: White;
	background: #698CC3;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
.admintitle div {
	float: left;
}

.b0, .b1, .b2, .bt, .cat {
	width: 100%;
	line-height: 24px;
	margin: 1px 0 0;/* IE */
	float: left;
}
.b0, .b0 div {
	background: #F7F7F7;
}
.b1, .b1 div {
	background: #EBEEDB;
}
.b2, .b2 div {
	background: #D8DEB8;
}
.cat, .cat div {
	background: #D5D5D5;
}
.b0 div, .b1 div, .b2 div, .cat div {
	float: left;
	line-height: 24px;
	margin: 1px 0 0;/* FF */
}
.b0 ul {/* FF */
	margin-top: 0;
	margin-bottom: 0;
}
.b0 li.warning {
	color: Red;
}
.bt {
	height: 28px;
	width: 100%;
	text-align: center;
	background: #D5D5D5;
	line-height: 28px;
	margin: 1px 0 0;
	font-weight: bold;
}
.cat {
	height: 24px;
	font-weight: bold;
	text-align: center;
}

.chapter {
	height: 24px;
	width: 32%;
	padding-left: 1%;
	float: left;
	color: Black;
	background: #F7F7F7;
	line-height: 24px;
	margin: 1px 1px 0 0;
}
.exist {
	height: 24px;
	width: 32%;
	padding-left: 1%;
	float: left;
	color: Gray;
	background: #F7F7F7;
	line-height: 24px;
	margin: 1px 1px 0 0;
}

.done {
	color: #228B22;
}
.cacel {
	color: Gray;
}
.cover {
	color: #228B22;
}
.bname {
	color: #B8860B;
}
.hilight {
	color: #B8860B;
}
