	<div class="rd8_fullborder" style="border:0;">
		<div class="rd8_head">站内短信-未查看的信息</div>
		<div style="background-color:#CCC;height:24px;margin:2px auto;line-height:24px;text-align:center;width:60%;">
			<a href="my/pm_inbox.php">收件箱</a>&nbsp;&nbsp;
			<a href="my/pm_outbox.php">发件箱</a>&nbsp;&nbsp;
			<a href="my/pm_compose.php">撰写短信</a>
		</div>
<!-- IF no_info -->
		<table align="center" style="margin:3px auto;width:60%;border:1px solid #CCC;">
			<tr style="height:24px;line-height:24px;background-color:#B6DBFF;font-weight:bold;">
				<td align="center">收件人</td>
				<td align="center">发件人</td>
				<td align="center">主题</td>
				<td align="center" colspan="2">时间</td>
			</tr>
<!-- BEGIN no_info -->
			<tr class="rd8_col{A}" onmouseover="this.className='rd8_col2'" onmouseout="this.className='rd8_col{A}'">
				<td align="center">{to}</td>
				<td align="center">{from}</td>
				<td align="center"><span style="font-weight:bold;"><a href="my/pm_check_content.php?aid={id}">{title}</a></span></td>
				<td align="center">{dateline_DATE_Y-m-d H:i:s}<td>
			</tr>
<!-- END no_info -->
				<tr><td colspan="4" class="rd8_colt"><!-- IF pagelink -->{pagelink}<!-- ELSE -->共一页<!-- ENDIF --></td></tr>
		</table>
<!-- ELSE -->
			<div style="text-align:center;font-size:14px;font-weight: bold;">没有未查看的短消息</div>
<!-- ENDIF -->

	</div>
