<div class="rd8_main">
	<div class="rd8_full">
		<div class="rd8_fullborder">
			<div class="rd8_navigation">
				<!-- IF sc -->您正在浏览: {sc}频道<!-- ENDIF --> &nbsp;<!-- BEGIN categories --><a href="index.php?sc={id}"<!-- IF 1 --><!-- ENDIF -->>{title}</a> &nbsp;<!-- END categories -->
			</div>
			<div class="rd8_navigation">
				<a href="category.php">全本文章</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=3">总点击榜</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=5">月点击榜</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=7">周点击榜</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=4">总推荐榜</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=6">月推荐榜</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=8">周推荐榜</a> &nbsp; &nbsp; &nbsp;<a href="rank.php?rid=11">最新入库</a><!-- &nbsp; &nbsp; &nbsp;<a href="#">最近更新</a> &nbsp; &nbsp; &nbsp;<a href="#">字数排行<a-->
			</div>
		</div>
	</div>
</div>