<div>
    <div style="background:#c6d8ff;padding:4px;border-top:1px solid #7799dd;">
        <span style="float:right;font-size:16px;">
               <a href="settings">settings</a> &nbsp;&nbsp;
			   <a href="project_logging">logging</a> &nbsp;&nbsp;
               <a href="/rf_trac/logout">login out</a>
            </span>
        <span style="font-size:18px;">Test project</span>
    </div>
    <div style="background:#f7f7ff;">
        <table>
            <tr>
                <th style="color:#009900;">Project Name:</th>
                <td>{{project.name}}</td>
            </tr>
            <tr>
                <th style="color:#009900;">Admin user:</th>
                <td>{{project.admin_user}}</td>
            </tr>
            <tr>
                <th style="color:#009900;">Key:</th>
                <td>{{project.prj_key}}</td>
            </tr>
        </table>        
    </div>
</div>
