{% extends "rf_trac_base.html" %}

{% block body %}

<div>
    <div style="background:#c6d8ff;padding:4px;border-top:1px solid #7799dd;">
		<span style="float:right;font-size:16px;">
			   <a href="settings">settings</a> &nbsp;&nbsp;
			   <a href="#">login out</a>
			</span>
        <span style="font-size:18px;">Test project</span>
    </div>
    <div style="background:#f7f7ff;">
		<table>
			<tr>
				<th style="color:#009900;">Project Name:</th>
				<td>{{project.name}}</td>
			</tr>
            <tr>
                <th style="color:#009900;">Admin user:</th>
                <td>{{project.admin_user}}</td>
            </tr>
            <tr>
                <th style="color:#009900;">Key:</th>
                <td>{{project.prj_key}}</td>
            </tr>
		</table>		
    </div>
</div>

<div style="background:#c6d8ff;padding:4px;border-top:1px solid #7799dd;">
    <span style="font-size:18px;">Test build list</span>
</div>
<table style="background:#fff;" width="100%">
    <tr>
        <th>Build name</th>
        <th>SUT name</th>
        <th>SUT release</th>
        <th>SUT version</th>
        <th>Username</th>
        <th>Test count</th>
		<th>Test pass</th>
		<th>Test fail</th>
    </tr>
{% for t in build_list %}
    <tr>
        <td><a href="/rf_trac/r/build?build={{t.id}}">{{t.build_name}}</a></td>
        <td>{{t.sut_name}}</td>
        <td>{{t.sut_release}}</td>
        <td>{{t.ust_version}}</thd>
        <td>{{t.execute_user}}</td>
        <td>{{t.summary_count}}</td>
		<td>{{t.summary_pass}}</td>
		<td>{{t.summary_fail}}</td>			
    </tr>
{% endfor %}    
</table>

<div style="background:#c6d8ff;padding:4px;border-top:1px solid #7799dd;">
	<span style="font-size:18px;">Test log trac list</span>
</div>
<table style="background:#fff;" width="100%">
    <tr>
        <th>TestCase</th>
        <th>Category</th>
        <th>BugId</th>
        <th>Text</th>
        <th>Username</th>
        <th>Create date</th>
    </tr>
{% for t in trac_list %}
    <tr>
        <td>{{t.uuid}}</td>
        <td>{{t.action}}</td>
        <td>{{t.bugid}}</td>
        <td>{{t.text}}</thd>
        <td>{{t.username}}</td>
        <td>{{t.create_date}}</td>
    </tr>
{% endfor %}    
</table>
{% endblock %}