{% extends "rf_trac_base.html" %}

{% block body %}
{% include "admin/include/rf_trac_project_header.html" %}
<form action="?" method="POST">
<div class='c_title'>
    <span>Result category</span>
</div>
<table>
	<tr>
		<td style="width:120px;"><label>Category:</label></td>
		<td><textarea name="category" cols='40' rows='5'>{{category_setting.category}}</textarea></td>
	</tr>
</table>

<div class='c_title'>
    <span>Diff items</span>
</div>
<table>
    <tr>
        <td style="width:120px;"><label>Diff items:</label></td>
        <td class='l_n'>
			{%autoescape off %}
			{{diff_form}}
			{% endautoescape %}
		</td>
    </tr>
</table>

<input type="submit" value="submit" />
</form>
{% endblock %}