{% extends "weibo/logined_base.html" %}

{% load reporting_tags %}

{% block content %}
	<table>
		<tr>
			<td>发布：{{task.user.screen_name}}, 
			状态：{{task.get_task_status_display}},
			
			价格：小于1万粉:{{task.price_1}}元, 1万～10万:{{task.price_2}}元
			10万以上:{{task.price_3}}元
			
			&nbsp;&nbsp;
			<a href="{%app_root%}/do_task/{{task.id}}">参加竞标</a>
			</td>			
		</tr>
		<tr>
			<td>{{task.content}}</td>
		</tr>
		<tr>
			<td>标签:{{task.tags}}</td>
		</tr>		
	</table>
	<br/>
	
	{% for e in contract_list %}
	
	<table>
		<tr>
			<td>
			围脖：{{e.weibo_p.screen_name}},  报价：{{e.price}},
			状态：{{e.get_status_display}},
			{% if e.can_accept %}
			<a href='{%app_root%}/contract/{{e.id}}/accept'>接受竞标</a>
			{%endif%}

			{% if e.can_pay %}
			<a href='{%app_root%}/contract/{{e.id}}/done'>合格付费</a>
			{%endif%}
			
			<br/>
			粉丝：{{e.weibo_p.fans_count}}， 好友：{{e.weibo_p.friends_count}}， 
			围脖: {{e.weibo_p.weibo_count}}
			</td>
		</tr>
		<tr>
			<td>报价说明：{{e.desc}}</td>
		</tr>
		{% if e.is_submit %}
		<tr>
			<td>
				{%for file in e.uploaded_files %}
					围脖地址：{{file.desc}}<br/>
					<img class='task' src='{{file.external_link}}' /><br/>
				{%endfor%}
			</td>
		</tr>
		{%endif%}		
	</table>
	{%endfor%}
{% endblock %}
