	<div class="rd8_fullborder">
		<form action="my/author_apply.php" method="post">
			<div class="rd8_head">申请作家</div>
			<div class="rd8_col0" style="width:25%;margin:1px auto;">
				<table>
					<tr class="rd8_col0" style="width:25%;">
						<td align="right">笔名:&nbsp;</td>
						<td>&nbsp;<!-- IF applyed=="1" -->{pseudonym}<!-- ELSE --><input type="text" name="pseudonym" /><!-- ENDIF --></td>
					</tr>
					<tr class="rd8_colt">
						<td align="center" colspan="2"><!-- IF applyed=="1" -->您已使用 笔名: “{pseudonym}” 申请成为作家，请耐心等待审核<!-- ELSE --><input type="submit" value=" 申请作家 " /><!-- ENDIF --></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
