	<div class="rd8_fullborder">
		<div class="rd8_head">站内短信</div>
		<div class="rd8_col0">
			<form action="my/pm_send.php">
				<table>
					<tr class="rd8_col0" style="background:#FFF;">
						<td width="30%" align="right">收件人:&nbsp;</td>
						<td>&nbsp;<input type="text" name="pmto" size="60" value="" /></td>
					</tr>
					<tr class="rd8_col1" style="background:#FFF;">
						<td align="right">内 &nbsp;容:&nbsp;</td>
						<td>&nbsp;<textarea rows="5" cols="60" name="pmmsg" ></textarea></td>
					</tr>
					<tr class="rd8_colt">
						<td align="center" colspan="2"><input type="submit" value=" 发 送 " /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
