	<div id="rd8_center">
		<div id="rd8_bdleft">
				<dl>
					<dt>热门推荐</dt>
<!-- BEGIN nc4 -->
					<dd><a href="{InfoURL}">{title}</a>({vote})</dd>
<!-- END nc4 -->
				</dl>
				<dl>
					<dt>读吧动态</dt>
					<dd><a href="#">幻剑新年奇幻专题</a></dd>
					<dd><a href="#">TOM千万注资幻剑书盟 </a></dd>
					<dd><a href="#">幻剑书盟6周年纪念 </a></dd>
					<dd><a href="#">幻剑新年奇幻专题</a></dd>
					<dd><a href="#">TOM千万注资幻剑书盟 </a></dd>
				</dl>
		</div>
		<div id="rd8_bdright">
			<div id="rd8_detail">
				<span><strong>{title}</strong></span>
				<span>作者：{author}</span>
				<span>发表时间：{dateline_DATE_Y-m-d H:i:s}</span>
				<span>所属类别：{subject}</span>
				<span class="noborder">已阅读：{click}</span>
				<span class="noborder">所获票数：{vote}</span>
			</div>
			<p class="rd8_introduce"><img src="template/{G_tpldir}/images/2.jpg" align="left"/>&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<p class="rd8_opration"><a href="#" class="read">点击阅读</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="add">放入书架</a>&nbsp;&nbsp;&nbsp;&nbsp;最后更新章节  <a href="#" class="latest">第十六章 气势惊天</a>  </p>
			<form action="" method="post" name="form" class="comment">
				<div>
					<b>对本书发表评论</b><br/><br/>
					<span>标题：</span><input name="title" type="text"/>&nbsp;标题长度最长不可超过50字<br/><br/>
					<span>内容：</span><textarea name="content"></textarea><br/><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="Submit" type="submit" value="发表评论" class="annouce"/>
				</div>
			</form>
		 </div>
	</div>
