<%args>
$page=>'home'
</%args>
<%init>
$page ||= 'home';

</%init>

<%def .select>
<%args>
$cur
$page
</%args>
<%init>
	print "selected='true'" if $cur eq $page;
</%init>
</%def>


<fb:profile-pic uid="<% $fb->canvas->get_user() %>" linked="true" /> Welcome, <fb:name uid="<% $fb->canvas->get_user() %>" useyou="false" />
<br/><br/>
<h2>Arrangement or Not?</h2>
<br/>
<fb:tabs>  
	<fb:tab-item href='?page=home' title='Home' <& .select,  cur=>$page, page=>'home' &>/> 
	<fb:tab-item href='?page=quiz' title='Quiz'   <& .select,  cur=>$page,  page=>'quiz' &>/>
	<fb:tab-item href='?page=message_board' title='Post an Arrangement'   <& .select,  cur=>$page,  page=>'message_board' &>/>  
	<fb:tab-item href='?page=sugars' title='Who Is Sugar'   <& .select,  cur=>$page, page=>'sugars' &>/> 
	<fb:tab-item href='?page=invite' title='Tell Friends About Us'   <& .select,  cur=>$page, page=>'invite' &>/> 
</fb:tabs>
<& "$page.html", %ARGS &>