<%args>
$submit=>undef
</%args>
<%init>
use SUGAR qw(check_out_quiz get_quiz);

my @question = ("Do you take pre-Marital sex easy?", 
				"Do you take extra-Marital sex easy?", 
				"Is it human instinct to be attracted to beauty as it is to be attracted to wealth and power?",
				"Do you love to treated like a king or queen?",
				"Are you generous to support or care?",
				"Is it human nature for people to want younger and more attractive partners?",
				"Is it natural for younger men & women to seek out more experienced, sophisticated partners, specifically those who have the means of providing them with comforts and luxuries?",
				"Are you mature and rich or young but in financial difficulty?",
				"Are you interested in a discreet and mutually beneficial relationship?",
				"Are you want good living and finer things in life and also share with others?",
				);
				
my $q_count = @question;
my ($description, $totally_result, $totally_count);

if ($submit) {
	my $answer = {};
	for my $i ((1 ... $q_count)){
		$answer->{$i} = $ARGS{"q$i"};
	}
	($description, $totally_result, $totally_count) = check_out_quiz($dbh, $fb, $answer);
}
				
</%init>
<br/>
<script>
<!--
function uncheck(id) {
  document.getElementById(id).setChecked(false);
}
//-->
</script>
<div>
% 
% unless ($submit) {
<div style="margin-bottom:20px;">To see if you are interested in an arrangement potially?
</div>
<fb:editor action="?page=quiz" labelwidth="100">
% for my $i ((1 ... $q_count)) {
	<div style="margin-bottom:10px;"><div>Q<% $i %>. <% $question[$i - 1] %> </div>
		 <div style="margin-top:10px;padding-left:40px;"><span style="margin-bottom:10px;">Your answer:</span><br/>
			<input type="checkbox" name="q<% $i %>" value="Yes" id="q<% $i %>y" onclick="uncheck('q<% $i %>n');"/><label for="q<% $i %>y">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="checkbox" name="q<% $i %>" value="No" id="q<% $i %>n" onclick="uncheck('q<% $i %>y');"/><label for="q<% $i %>n">No</label>
		 </div>
	</div>
% }
	<fb:editor-buttonset>
		<fb:editor-button value="Submit" name="submit"/>
		<fb:editor-cancel />
	</fb:editor-buttonset> 
</fb:editor>
% }else {
<br/>
<div><span style="font-size:16px;"><b>You <% $description %></span></b></div>
<br/>
Totally <b><% $totally_count %></b> had the test.
<br/>
% for my $answer (@{$totally_result}){
% $answer->{"description"} =~ s/are/is/i if $answer->{"user_count"} == 1;
<div style="margin-top:8px;"><b><% $answer->{"user_count"} %></b>&nbsp;&nbsp;<% $answer->{"description"} %></div>
% } #end for
% } #end done quiz
</div>
