html{
    text-align:center;
    font-size:12px;
    margin:0px;
}
body{
    width:900px;
    text-align:left;
    margin:auto;
    background:#fff;
    color:#000;
}

#context_head{
    margin-bottom:10px;
}

label{
    font-weight:bolder;
}

.error{
    background:#ff99ff;
    color:#ff0000;
    border:1px solid #ff33ff;
    margin:2px;
    padding:2px;
}

div.b_title{
    background:#c6d8ff;padding:4px;
    border-top:1px solid #7799dd;
}

div.b_title span{
    font-size:14px;
}

div.b_title a, div.b_title a:visited {
    color: #000;
}

div.c_title{
  background-color: #e5ecf9;
  margin: 4px 4px 0 4px;
  border-top: 1px solid #3366cc;
  padding:2px;
}

td.l_n label{
    font-weight:normal;
}

#content_body {
    width:640px;
    float:left;
    #border:1px solid red;
}

#tag_nav{
    border:1px solid red;
    width:250px;
    float:right;
}

#tag_nav .hd{background:#c6e8ff;color: #000; font-size:14px; padding:4px;}
#tag_nav .tags{padding:10px;line-height:20px;}

#tag_nav .tags a{margin:5px;}


div.nav-menu{
    background:#c6e8ff;padding:4px;
    color: #6600ff;
    font-size:13px;
    font-weight:bolder;
}

div.nav-menu a, div.nav-menu a:visited {
    color: #6600ff;
    margin:0 5px;
}

.message img{border:0px;}

.message{border:1px solid #7799dd; margin-bottom:4px;}

.message div.hd {padding:4px 0; background:#e5ecf9;} 

.message div.ct1, .message div.row1{
    padding:10px;
    background:#ffffcc;
    font-size:16px;
    letter-spacing:4px;
    word-spacing:4px;
    line-height:22px;
}

.message div.row2{
    background:#ffff99;
}

.message div.ft {
    padding:4px 0;
}

