{% extends "mygroup/logined_site.html" %}

{% block mid_content %}

        <div class='circle_b' >
            <div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div>
            <div class="f" style='padding:4px;'>
                <div class="span-11" style="font-weight:bolder;font-size:18px;">2001级计算机中专班</div>
                <div class="clear">
					远方的朋友，虽然平时很少联系。但是却总是不时的想起你。告我最近你还好么？工作顺利么？
				</div>
            </div>
            <div class="d"></div><div class="c"></div><div class="b"></div><div class="a"></div>
        </div>
        <hr class="space">    		
        <div class='circle_b' >
            <div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div>
            <div class="f" style='padding:4px;'>
				<div class="span-11" style="font-weight:bolder;font-size:24px;">最近在做什么?</div>
				<div class="clear">
				<span>话题:[八卦] [工作] [小秘密] [学习] [麻木]  </span>
				</div>
				<textarea name="d" style='height:40px;width:95%'></textarea>
				<div class="span-11">还剩<span>70</span></div>
				<div class="span-3 last">
					<a href='#'>保存</a></div>
				<div class='clear'></div>
	        </div>
            <div class="d"></div><div class="c"></div><div class="b"></div><div class="a"></div>
        </div>
		<hr class="space">    
        <div class='circle_b' >
            <div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div>
            <div class="f">
				<div class="tag">
					<ul>    
                    <li class="sel yel_bor">
						<div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div><div class="f"><a class="now" href="/wo/">最新动态</a></div>
					</li>
                    <li><a href="/wo/replies/">成员动态</a></li>
                    <li><a href="/wo/archive/">大事列表</a></li>
                    <li><a href="/wo/favourites/">淡淡回忆</a></li>
					</ul>
				</div>
				<hr class="space">  
                <div class='st'>
                    <div style="float:left;">
                    <a href="#"><img src='/images/img.jpg' class='header' /></a><br/>
                    <a href="#">四无浪子</a>
                    </div>
                    <div style="margin-left:60px;">
                        <div >
                        [<span class='color2'>笑话</span>]&nbsp;打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                        打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                        打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                            打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                        </div>
                        <div class="span-3"><b>3天前</b></div>
                        <div class="span-3">平分:XXXXX</div>
                        <div class="span-3 last">Reply</div>
                        <hr/>
                    </div>
                    <hr class="space"> 
                </div>
                <div class='st'>
                    <div style="float:left;">
                    <a href="#"><img src='/images/img.jpg' class='header' /></a><br/>
                    <a href="#">四无浪子</a>
                    </div>
                    <div style="margin-left:60px;">
                        <div >
                        [<span class='color2'>笑话</span>]&nbsp;打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                        打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                        打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                            打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。打麻将。。。。。。。。。。。
                        </div>
                        <div class="span-3"><b>3天前</b></div>
                        <div class="span-3">平分:XXXXX</div>
                        <div class="span-3 last">Reply</div>
                        <hr/>
                    </div>
                    <hr class="space"> 
                </div>													
            </div>          
            <div class="d"></div><div class="c"></div><div class="b"></div><div class="a"></div>
        </div>

{% endblock %}

