{% extends "mygroup/logined_site.html" %}

{% block mid_content %}
{% if v.have_new_groups %}
<div class='circle_b' >
    <div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div>
    <div class="f">
		<span style="font-size:14px;font-weight:bolder;">最近一个月加入的圈子</span>
        <hr class="space">
        <div id="new_groups">
        {% for g in v.new_groups %}
            <a href="/group/actives/{{g.group.id}}">{{g.group.name}}</a>&nbsp;
        {% endfor %}
        </div>                                                  
    </div>          
    <div class="d"></div><div class="c"></div><div class="b"></div><div class="a"></div>
</div>
<hr class="space">
{% endif %}
<div class='circle_b' >
	<div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div>
	<div class="f" style='padding:4px;'>
		<div class="span-11" style="font-weight:bolder;font-size:24px;">最近在做什么?</div>
		<div class="clear">
		<span>话题:<a href='#' class='cate'>[八卦]</a>&nbsp;
			<a href='#' class='cate'>[工作]</a> &nbsp;
			<a href='#' class='cate'>[小秘密]</a>&nbsp;
			<a href='#' class='cate'>[学习]</a>&nbsp;
			<a href='#' class='cate'>[麻木]</a>&nbsp;
			<a href='#' class='cate'>[自定义]</a>
		</span>
		</div>
		<textarea id='text' style='height:40px;width:95%'></textarea>
		<div class="span-11">还剩<span id='t_len'>70</span>字符</div>
		<div class="span-3 last">
			<a href='#' id="save">保存</a></div>
		<div class='clear'></div>
<script type="text/javascript">
    $(function(){
        $('.cate').click(function(){
                $('#text').val($(this).html());
                return false;
        });
    
        $("#text").change(function(){
            //alert();
            $("#t_len").html((70 - $('#text').val().length) + '');
        });
    
        $("#save").click(function(){
            if($('#text').val().length < 10){
                alert("至少10个字符!");
                return false;
            };
            $.post("/my/message", {text:$('#text').val()},
					function(data){
						$("#main_context").html(data);
						$("#text").val('');
					}, "html");
             return false;
        }); 
    }); 
</script>
	</div>
	<div class="d"></div><div class="c"></div><div class="b"></div><div class="a"></div>
</div>
<hr class="space"> 
<div class='circle_b' >
	<div class="a"></div><div class="b"></div><div class="c"></div><div class="d"></div>
	<div class="f">
		<div class="tag">
			<ul>    
				{% include "includes/my_header_tags.html" %}
			</ul>
		</div>
		<hr class="space">
		<div id="main_context">
		{% for actives in v.cur_actives %}
			{% include "includes/my_actives.html" %}
		{% endfor %}
		{% if v.empty %}
			<div>没有找到相关纪录。</div>
		{% endif %}
		</div>													
	</div>          
	<div class="d"></div><div class="c"></div><div class="b"></div><div class="a"></div>
</div>
{% endblock %}

