<div class='st'>
	<div style="float:left;border:1px solid #D05D02;margin:2px;">{{forloop.counter}}</div>
	<div style="float:left;">
	<a href="/group/member/{{actives.group.id}}/{{actives.author.user_id}}"><img src='{{actives.author.logo_url}}' class='header' /></a><br/>
	<a href="/group/member/{{actives.group.id}}/{{actives.author.user_id}}">{{actives.author.truename_v}}</a>
	</div>
	<div style="margin-left:60px;">
		<div >
		[<span class='color2'>{{actives.category}}</span>]&nbsp;
			{{actives.text}}
		</div>
		<div class="span-3">时间:<b>{{actives.create_date|timesince}}</b></div>
		{% spaceless %}
		<div class="span-6"><a title='鸡毛蒜皮' alt='鸡毛蒜皮' href='/group/vote/{{actives.group.id}}/{{actives.id}}/-2' class='vote'><img src='/images/star_off.gif'/></a>
			<a title='日常小事' alt='日常小事' href='/group/vote/{{actives.group.id}}/{{actives.id}}/-1' class='vote' ><img src='/images/star_off.gif'/></a>
			<a title='一般' alt='一般' href='/group/vote/{{actives.group.id}}/{{actives.id}}/0' class='vote'><img src='/images/star_off.gif'/></a>
			<a title='值得关注' alt='值得关注' href='/group/vote/{{actives.group.id}}/{{actives.id}}/1' class='vote' ><img src='/images/star_off.gif'/></a>
			<a title='重大新闻' alt='重大新闻' href='/group/vote/{{actives.group.id}}/{{actives.id}}/2' class='vote' ><img src='/images/star_off.gif'/></a>
			&nbsp;&nbsp;&nbsp;&nbsp;<a class='ask' href="/group/ask/{{actives.group.id}}/{{actives.author.user_id}}">在干啥?</a>
		</div>
		{% endspaceless %}
		<hr/>
	</div>
	<hr class="space"> 
</div>