	<div class="admin_about_full">
		<div class="adminhead"><li class="img_left"></li><li class="img_right"></li></div>
		<div class="b0">
			<ul>
				<li>可将已注册用户添加成为作家。</li>
			</ul>
		</div>
	</div>
	<form action="?ptype={ptype}&amp;pfile={pfile}" method="post">
	<div class="adminborder">
		<div class="adminhead">添加作家</div>
		<div class="b0">
			<div style="width: 30%;padding-right: 1%;text-align: right;">用 户 名:</div>
			<div style="width: 68%;"><input type="text" size="20" maxlength="20" name="author" value="" /> 请输入需要设置为作家的前台用户名</div>
		</div>
		<div class="b1">
			<div style="width: 30%;padding-right: 1%;text-align: right;">笔 &nbsp; &nbsp;名:</div>
			<div style="width: 68%;"><input type="text" size="20" maxlength="20" name="pseudonym" value="" /></div>
		</div>
		<div class="bt"><input type="submit" value=" 提 交 " /> &nbsp;<input type="hidden" name="action" value="update" /> &nbsp;<input type="reset" value=" 重 置 " /></div>
	</div>
	</form>
