<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={G_encode}" />
<title>作家审核填写简介查看</title>
</head>
<body>
<div style="width: 400px;margin-left: 40px;margin-top: 40px;">
	<div style="color: Blue;text-align: center;">申请人:  <b>{C_username}</b></div>
	<div style="margin-top: 20px;border-collapse: collapse;background: #E5ECFA; border: 1px solid #5296FF;">{C_ps}</div>
</div>
</body>
</html>