<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={G_encode}" />
<title>新书申请简介说明查看</title>
</head>
<body>
<div style="width: 400px;margin-left: 40px;margin-top: 40px;">
	<span style="color: Blue;text-align: center;">申请人:  <strong>{author}</strong></span>
	<span style="margin-top: 10px;color: Blue;text-align: center;">书名: <strong>{title}</strong></span>
	<div style="margin-top: 20px;border-collapse: collapse;background: #E5ECFA; border: 1px solid #5296FF;"><strong>内容介绍:</strong><br />{description}<br /><br /><strong>作品简介:</strong> <br />{intro}<br /><br /><strong>作品片断</strong><br />{sample}</div>

</div>
</body>
</html>