	<div class="admin_about_full">
		<div class="adminhead"><li class="img_left"></li><li class="img_right"></li></div>
		<div class="b0"><ul><li>对用户的求助投诉信息进行回复，对恶意的信息可进行删除。</li></ul></div>
	</div>
<!-- IF id -->
	<form action="?ptype={ptype}&amp;pfile={pfile}&amp;action=update" method="post" id="hidden">
	<div class="adminborder">
		<div class="adminhead">管理员回复</div>
		
		<div class="b0">
			<div style="width: 15%;padding-left: 1%;font-weight: bold;">标题:</div>
			<div style="width: 83%;">
				<span>{title}</span><br />
			</div>
		</div>
		<div class="b1">
			<div style="width: 15%;padding-left: 1%;font-weight: bold;">内容:</div>
			<div style="width: 83%;">
				<span>{content}</span><br />
			</div>
		</div>
		<div class="b1">
			<div style="width: 15%;padding-left: 1%;font-weight: bold;">回复:</div>
			<div style="width: 83%;">
				<textarea name="reply" rows="15" style="width: 90%;" id="reply"></textarea><br />
			</div>
		</div>

		<div class="bt">
			<div style="text-align: center;"><input type="hidden" name="id" value="{id}" /><input type="submit" value="回复" /></div>
		</div>
	</div>
	</form>
<!-- ELSE -->
	<form action="?ptype={ptype}&amp;pfile={pfile}&amp;action=delete" method="post">
	<div class="adminborder">
		<div class="adminhead">求助投诉信息</div>
<!-- IF helps -->
		<div class="b0">
			<table>
				<tr class="category">
					<td><input type="checkbox" onclick="javascript:checkall(this.form.id,this);" title="全选" />全</td>
					<td>用户名</td>
					<td>标题</td>
					<td>时间</td>
					<td>操作</td>
				</tr>
	<!-- BEGIN helps -->
				<tr class="col{A}" align="center" id="iv{id}" onclick="javascript:HighLight.click('ivi{id}');" onmouseover="javascript:HighLight.over(this.id);" onmouseout="javascript:HighLight.out(this.id, 'ivi{id}');">
					<td><input type="checkbox" name="ivs[]" id="ivi{id}" value="{id}" onclick="javascript:HighLight.click(this.id);" onchange="javascript:HighLight.change('iv{id}', this.id);" /></td>
					<td>{username}</td>
					<td><span title="{content}">{title}</span></td>
					<td>{dateline_DATE_Y-m-d H:i:s}</td>
					<td>
						<a href="?ptype={ptype}&amp;pfile={pfile}&amp;action=reply&amp;id={id}"><span style="color: Blue;">回复</span></a>
						<a href="javascript:cfmoption('你确认删除此信息吗？','?ptype={ptype}&amp;pfile={pfile}&amp;action=delete&amp;ivs[]={id}')"><span style="color: Red;">删除</span></a>
					</td>
				</tr>
	<!-- END helps -->
			</table>
		</div>
			<div class="bt"><input type="submit" value=" 删 除 " onclick="if(!confirm('你确认批量删除这些选定的书吗？')) return false;"></div>
			<!-- IF pagelink --><div class="cat">{pagelink}</div><!-- ENDIF -->
<!-- ELSE -->
			<div class="b0" style="width: 99%;padding-left: 1%;">当前没有求助投诉</div>
<!-- ENDIF -->
	</div>
	</form>
<!-- ENDIF -->
