	<form action="?ptype={ptype}&amp;pfile={pfile}" method="post" id="config">
	<div class="adminborder">
		<div class="adminhead">官方互动设置</div>
		<div class="b0">
			<div style="width: 60%;padding-left: 1%;">
				<span style="font-weight: bold;">官方帐号用户名:</span><br />
				<span class="smalltxt">商业用户的官方网站用户名。</span>
			</div>
			<div style="width: 38%;"><input type="text" name="pusername" value="{C_username}" /></div>
		</div>
		<div class="b1">
			<div style="width: 60%;padding-left: 1%;">
				<span style="font-weight: bold;">官方帐号密码:</span><br />
				<span class="smalltxt">商业用户的官方网站密码(显示为已加密的，不修改勿动)。</span>
			</div>
			<div style="width: 38%;"><input type="text" name="ppassword" value="{C_password}" /></div>
		</div>
		<div class="bt"><input type="submit" value=" 提 交 " /> &nbsp;<input type="hidden" name="action" value="update" /> &nbsp;<input type="reset" value=" 重 置 " /></div>
	</div>
	</form>
