
	<div class="adminborder">
		<div class="adminhead">内容查看</div>
		<div class="col0">
			<table>
				<tr class="col0"> 
					<td width="15%">书名</td>
					<td>{title}</td>
				</tr>
				<tr class="col1"> 
					<td width="15%">作者</td>
					<td>{author}</td>
				</tr>
				<tr class="col0"> 
					<td width="15%">简介</td>
					<td>{description}</td>
				</tr>
				<tr class="col1"> 
					<td width="15%">标签</td>
					<td>{tag}</td>
				</tr>
				<tr class="col0"> 
					<td width="15%">内容</td>
					<td>{body}</td>
				</tr>
			</table>
		</div>
	</div>

