{% extends "dyd_base.html" %}

{% block content_body %}
<div class="head">
{% if cur_tag %}
	<div style="font-size:16px;float:left;"><b>标签:</b>{{cur_tag}}</div>
{% endif %}
	<div style="float:right;margin-top:6px;">
		<a href="#">流行经典</a>
		<a href="#">最近发布</a>	
		<a href="#">最近更新</a>
	</div>
	<div style="clear:both;margin-bottom:10px;"></div>
</div>

<div class="page_nav">
	总共:{{message_count}} {% autoescape off %}{{message_page_nav.output_html}}{% endautoescape %}
</div>
{% for m in message_list %}
<div class="message">
	<div  class='hd'>
		<div style="float:left;width:100px;margin-left:10px;">#{{m.id}}</div>
		<div style="float:left;width:100px;"><img src="/static/dyd/images/dialog-ok.png" /><span class='good'>{{m.vote_up}}</span>
			&nbsp;&nbsp;
			<img src="/static/dyd/images/dialog-cancel.png" /><span class='bad'>{{m.vote_down}}</span> 
		</div>
		<div style="float:right;margin-right:10px;">{{m.create_date|date:"Y-m-d H:i:s" }}</div>
		<div style="clear:both;"></div>
	</div>
    <div class='ct1 {% cycle 'row1' 'row2' %}'>
		{% autoescape off %}{{m.htmlText}}{% endautoescape %}
    </div>
    <div class='ft'>
		<div style="float:left;width:300px;margin-left:10px;">Tags:{{m.tags}}</div>
		<div style="float:right;margin-right:50px;">
		投票:   
		<a class='vote' href="/dyd/vote/{{cur_cate.code}}/{{m.id}}?v=1"><img src="/static/dyd/images/dialog-ok.png" /></a>
            &nbsp;&nbsp;
        <a class='vote' href="/dyd/vote/{{cur_cate.code}}/{{m.id}}?v=-1"><img src="/static/dyd/images/dialog-cancel.png" /></a>
		</div> 
		<div style="clear:both;"></div>
    </div>
</div>
{% endfor %}
{% ifequal message_count 0 %}
<div class="message">
    <div  class='hd'>
        <div style="float:left;width:100px;margin-left:10px;">#0000</div>
        <div style="float:left;width:100px;"><img src="/static/dyd/images/dialog-ok.png" /><span class='good'>0</span>
            &nbsp;&nbsp;
            <img src="/static/dyd/images/dialog-cancel.png" /><span class='bad'>0</span> 
        </div>
        <div style="float:right;margin-right:10px;">2009-09-15 20:06:43</div>
        <div style="clear:both;"></div>
    </div>
    <div class='ct2 row1'>
没有找到相关纪录！
	</div>
    <div class='ft'>
        <div style="float:left;width:100px;margin-left:10px;">Tags: </div>
        <div style="float:right;margin-right:50px;">
        投票:   
        <a href="xx"><img src="/static/dyd/images/dialog-ok.png" /></a>
            &nbsp;&nbsp;
        <a href="xx"><img src="/static/dyd/images/dialog-cancel.png" /></a>
        </div> 
        <div style="clear:both;"></div>
    </div>
</div>
{% endifequal %}

<script type="text/javascript">
    $(function(){
        $("a.vote").click(function(e){
			if($(this).attr('href') != '') {
				$.getJSON(this.href, function(json){
					alert("投票成功!");
				});
				$(this).attr('href', '');
			}else{
				alert("只能投一次!");
			}
			return false;
		});
    }); 
</script>
<div style="display:none;">
{% include "include/dyd_post_form.html" %}
</div>
{% endblock %}