<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{site_title}} -道非道- </title>
	<meta name="ROBOTS" content="ALL" />
	<meta name="keywords" content="{{keywords}}" />
	  
    {% block head %}
    <link type="text/css" href="/static/dyd/css/content/default/main.css" rel="stylesheet" />	  
	{% endblock %}
	<script type="text/javascript" src="/static/js/jquery-1.2.6.min.js" ></script>  
  </head>
  <body>
{% block context_head %}
    <div id="context_head">
		<div class='nav-menu' style="color:#000;" >2009-09-15 20:06:43</div>
		
		<div class="logo">
			<div style="float:right;">
<script type="text/javascript"><!--
google_ad_client = "pub-3966926275582588";
/* 468x60, 创建于 09-9-20 */
google_ad_slot = "5539535580";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>	</div>		
			<a href="/dyd/index">
			<img border="0" src="/static/images/logo.png"></img>
			</a>
			<span style="font-size:24px;">-道非道-</span>
		</div>
			
		<div class='nav-menu'>
			&nbsp;&nbsp;&nbsp;| <a href="/dyd/index">首页</a> |
{% for c in cate_list %}
			<a href="/dyd/cate/{{c.code}}/1">{{c.name}}</a>{% ifnotequal c.code 'qq' %}·{%endifnotequal%}
{% endfor %} 
			|
		<a href="http://mygroups001.appspot.com/index">我的圈子</a>
		|
		<a href="/fb_book/index">AA记账</a>
		</div>
		<div>
<script type="text/javascript"><!--
google_ad_client = "pub-3966926275582588";
/* 728x15, 创建于 09-9-20 */
google_ad_slot = "3632719941";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>			
		</div>
    </div>
{% endblock %}

<div id="body">
	<div id="content_body">
	{% block content_body %}
		xxxxxxxxxxxxxx
	{% endblock %}
	</div>
	<div id='tag_nav'>
		<div class='hd'><b>标签列表</b></div>
		<div class='tags'>
{% for t in tags_list %}
		<a href="/dyd/tag/{{cur_cate.code}}/{{t.name}}/1" {% if t.shape %} class='{{t.shape}}'{%endif%}>{{t.name}}</a>
{% endfor %}
		</div>
		<div style="margin-bottom:4px;">
			<embed src="http://a.alimama.cn/widget/yr1/yr1fixed_250_250.swf" flashvars="catid=1626&count=20&sz=34&type=1&i=mm_14119115_0_0" width="250" height="250" quality="high" wmode="transparent" bgcolor="#ffffff" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</div>					
		<div>
			<iframe frameborder="0" marginheight="0" marginwidth="0" border="0" id="alimamaifrm" name="alimamaifrm" scrolling="no" height="142px" width="192px" style="width:192px;height:142px" src="http://a.alimama.cn/cpscode.php?pid=mm_10011550_0_0&w=192&h=142&uid=11004378&m=41&t=1000&bgc=FFFFFF&bdc=E6E6E6&tc=0000FF&sc=1055"></iframe>
		</div>
	</div>
</div>
<div>
<embed src="http://a.alimama.cn/widget/yr1/yr1fixed_760_90.swf" flashvars="catid=50006247&count=20&sz=11&type=1&i=mm_14119115_0_0" width="760" height="90" quality="high" wmode="transparent" bgcolor="#ffffff" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</div>	
{% block context_foot %}
  <br/>
  <div style="clear:both;margin-bottom:10px;"></div>
  <div style="border-bottom: 1px solid #7799dd;margin-bottom:10px;"></div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign=center>
  <td align="center" style="padding-right:1em;" >
  <a style="color: #00c" target=_top href="#">道非道</a><font color="#333"> - </font>
  <a style="color: #00c" target=_top href="#">联系</a><font color="#333"> - </font>
  <a style="color: #00c" target=_top href="/deonwu/about">关于</a>
  </td>
  </tr>
  </table>
  <div style="clear:both;margin-bottom:10px;"></div>	  
{% endblock %}
  </body>
</html>