<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{owner.name}} -记事本- </title>
	<meta name="ROBOTS" content="ALL" />
	<meta name="keywords" content="{{keywords}}" />
	  
    {% block head %}
    <link type="text/css" href="/static/dyd/css/content/default/main.css" rel="stylesheet" />	  
	{% endblock %}
	<script type="text/javascript" src="/static/js/jquery-1.2.6.min.js" ></script>  
  </head>
  <body>
{% block context_head %}
    <div id="context_head">		
		<div class="logo">
			<a href="/note/index">
			<img border="0" src="/static/images/notebook.png"></img>
			</a>
			<span style="font-size:24px;">-{{owner.name}}的记事本</span>
			<span>
			<script src="http://www.java.com/js/deployJava.js"></script>
			<script>
    		var url = "http://demodemo.googlecode.com/svn/trunk/java/notebook/dist/notebook.jnlp";
    		deployJava.createWebStartLaunchButton(url, '1.6.0');
			</script>
			</span>
			<span>&nbsp;
				{% ifequal user login_user %}
					Welcome {{user}}, <a href="{{logout_url}}">Logout</a>
				{%else%}
					<a href="{{login_url}}">Login</a>
				{%endifequal%}
			</span>		
		</div>			
		<div class='nav-menu'>
			&nbsp;&nbsp;&nbsp;<a href="/note/{{owner.name}}/index">首页</a>
{% if cate_list %} |
{% for c in cate_list %}
			<a href="/note/{{owner.name}}/{{c.cate_id}}">{{c.name}}</a>
{% endfor %} 
{% endif %}
{% if parent %}
	| <a href="/note/{{owner.name}}/{{parent.cate_id}}">返回</a>
{% endif %}
{% ifequal user login_user %}
	| <a href="/note/recycle?user={{owner.name}}">recycle</a>
{%endifequal%}

		</div>
    </div>
{% endblock %}

<div id="body">
	<div id="content_body" style="width:100%;">
	{% block content_body %}
		xxxxxxxxxxxxxx
	{% endblock %}
	</div>
</div>
<div>
</div>	
{% block context_foot %}
  <br/>
  <div style="clear:both;margin-bottom:10px;"></div>
  <div style="border-bottom: 1px solid #7799dd;margin-bottom:10px;"></div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign=center>
  <td align="center" style="padding-right:1em;" >
  <a style="color: #00c" target=_top href="#">记事本</a><font color="#333"> - </font>
  <a style="color: #00c" target=_top href="/deonwu/about">关于</a>
  </td>
  </tr>
  </table>
  <div style="clear:both;margin-bottom:10px;"></div>	  
{% endblock %}
  </body>
</html>