{% extends "rf_trac_base.html" %}

{% block body %}
<div>
    <div style="background:#c6d8ff;padding:4px;border-top:1px solid #7799dd;">
        <span style="font-size:18px;">Upload test result</span>
    </div>
    <div style="background:#f7f7ff;">
{% if error %}<div class='error'>{{error}}</div>{% endif %}		
        <form action="/rf_trac/upload_build" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="key" size="20" id="admin_user" value="{{prj_key}}" />
			<table>
			{% for f in form %}
				<tr>
					<th>{{f.label}}</th>
					<td><input type="{{f.type}}" value="{{f.value}}" name="{{f.name}}" size="32"/> 
						&nbsp;&nbsp;{{f.text}}</td>
				</tr>
			{% endfor %}
                <tr>
                    <td>
                    </td>
                    <td><input type="submit" value="Uploaded" /></td>
                </tr>
                    <td></td>
                    <td style="color:blue;">
						1. the output xml should removed keywords details by 
						rebot parameters "--removekeywords all"<br/><br/>
						2. the output xml should include metadata.<br/>
							&nbsp;&nbsp;sut_name -- the name of tested system.<br/>
							&nbsp;&nbsp;sut_version -- the build version of SUT.<br/>
							&nbsp;&nbsp;sut_release -- the release name of SUT.<br/>
					</td>
                </tr>                                                                         

            </table>                      
        </form>
    </div>
</div>

{% endblock %}