<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Robot testcase log trac -- </title>
    {% block head %}{% endblock %}
	<link type="text/css" href="/static/css/rftrac/default/main.css" rel="stylesheet" />
  </head>
  <body>
{% block context_head %}
    <div id="context_head">
		<a href="/rf_trac">
        <img border="0" src="/static/images/logo.png"></img>
		</a>
        <span style="font-size:24px;">RFTrac</span>
        <span style="font-size:18px;">--a tools to manage robot test log</span>
    </div>
{% endblock %}
	  
    <div id="body">{% block body %}{% endblock %}</div>
	  
{% block context_foot %}
  <br/>	  
  <div style="border-bottom: 1px solid #7799dd;margin-bottom:10px;"></div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign=center>
  <td align="center" style="padding-right:1em;" >
  <a style="color: #00c" target=_top href="#">feedback</a><font color="#333"> - </font>
  <a style="color: #00c" target=_top href="#">develop doc</a><font color="#333"> - </font>
  <a style="color: #00c" target=_top href="http://code.google.com/p/demodemo/wiki/RfTracInstruction">about robot</a>
  </td>
  </tr>
  </table>
{% endblock %}
  </body>
</html>