
function load(url) {
    var s = document.createElement("script");
	s.src = url;
	s.type = 'text/javascript';

	var bodyRef = document.getElementsByTagName("head").item(0);
	bodyRef.appendChild(s);	
}

if(typeof jQuery === 'undefined'){
	load('/static/js/jquery-1.2.6.min.js');
	load('/static/js/jquery-ui-1.6.custom.min.js');
}

//click 
function click_handler(e){
    var t = e.target || e.srcElement;
	ready_event();
}

function ready_event(){
	alert("ready........");
	$("#dialog1").draggable({handle:'.title'});
}

function onEvent(o, name, handler){
    if(window.addEventListener){
        o.addEventListener(name, handler, false);
    } else { // IE
        o.attachEvent('on' + name, handler);
    }
}

onEvent(document, "click", click_handler);
//onEvent(document, "load", ready_event);

