{% extends "rf_trac_base.html" %}

{% block body %}
<div>
    <div style="background:#c6d8ff;padding:4px;border-top:1px solid #7799dd;">
        <span style="font-size:18px;">Login to project admin</span>
    </div>
    <div style="background:#f7f7ff;">
{% if error %}<div class='error'>{{error}}</div>{% endif %}		
        <form action="/rf_trac/login_project" method="POST">
            <table>
                <tr>
                    <td style="width:120px;"><label for="admin_user">Project Name:</label></td>
                    <td><input type="text" name="prj_name" size="20" id="admin_user" value="{{prj_name}}" /></td>
                </tr>
                <tr>
                    <td><label for="rf_trac_prj_login.html">Admin User:</label></td>
                    <td><input type="text" name="admin_user" size="20" id="admin_user" value="" />&nbsp;
                     </td>
                </tr>
                <tr>
                    <td><label for="admin_user">Admin Password:</label></td>
                    <td><input type="password" name="admin_password" size="20" id="admin_user" value="" />&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td><input type="submit" value="Login" /></td>
                </tr>                                                                           
            </table>                        
        </form>
    </div>
</div>

{% endblock %}