{% extends "rf_trac_base.html" %}

{% block body %}

<div>
	<h2>Create new project</h2>
	<div>
		<form action="/rf_trac/create_project" method="POST">
			<table>
				<tr>
					<td style="width:80px;"><label for="name">Project Name:</label></td>
					<td><input type="text" name="name" size="20" id="name" value="" />&nbsp;<span>project name</span></td>
				</tr>
				<tr>
					<td><label for="email">Admin User:</label></td>
					<td><input type="text" name="admin_user" size="20" id="admin_user" value="" />&nbsp;
						<span>admin user name</span></td>
				</tr>
				<tr>
					<td><label for="mobile">Admin Password:</label></td>
					<td><input type="text" name="admin_password" size="20" id="admin_user" value="" />&nbsp;
						<span>admin password</span></td>
				</tr>
				<tr>
					<td>
					</td>
					<td><input type="submit" value="Create" /></td>
				</tr>                                                                           
			</table>						
		</form>
	</div>
</div>

<hr />
<ul>
{% for prj in prj_list %}
<li> <a href="#">{{ prj.name }} </a> </li>
{% endfor %}
</ul>
{% endblock %}