<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load reporting_tags %}
<html>
<head>
  <title>Area CI-{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" href="{% app_root %}/css/area_ci.css" rel="stylesheet" />
  <link type="text/css" href="{% app_root %}/css/buttons.css" rel="stylesheet" />
  <script type="text/javascript" src="{% app_root %}/js/jquery-1.2.6.min.js"></script> 
</head>
<body>
  <div id="header">
    <div>
<div style="float:right;">
{% if not user.is_anonymous %}
Welcome {{user.first_name}}, <a href="{% app_root %}/web_logout">Logout</a>
{%else %}
<a href="{% app_root %}/web_login">Login</a>
{% endif %}
</div>
    
        <a href="{% app_root %}/">
        <img border="0" src="{% app_root %}/images/logo_nokia.gif"></img>
        </a>
        <span style="font-size:24px;"><a href="{% app_root %}/areaci/">围脖广告交互平台</a></span>
        <span style="font-size:14px;">-- A platform to run test case in dedicated environment.</span>
    </div>
  </div>
  <div class="hr"><hr /></div>
<div class='index_nav'>
 
</div>		
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  <div id="footer">
	<div style="border-bottom: 1px solid #7799dd;margin-bottom:10px;"></div>
  </div>
</body>
</html>

