<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load reporting_tags %}
<html>
<head>
  <title>围脖联盟-{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" href="{% app_root %}/css/area_ci.css" rel="stylesheet" />
  <link type="text/css" href="{% app_root %}/css/buttons.css" rel="stylesheet" />
  <script type="text/javascript" src="{% app_root %}/js/jquery-1.2.6.min.js"></script> 
</head>
<body>
<style>
table{width:100%;
border:1px solid #000;
margin: 0.5em 0 1em 0;
}

tr,td{
border:1px solid #000;
}
</style>
  <div id="header">
    <div>
<div style="float:right;">
{% if cur_user %}
Welcome {{cur_user.screen_name}}, <a href="{% app_root %}/logout">Logout</a>
{% endif %}
</div>
    
        <a href="{% app_root %}/">
        <img border="0" src="{% app_root %}/images/logo_nokia.gif"></img>
        </a>
        <span style="font-size:24px;"><a href="{% app_root %}/index">围脖广告交互平台</a></span>
        <span style="font-size:14px;">-- 发布转发／广告任务.</span>
    </div>
  </div>
  <div class="hr"><hr /></div>
<div class='index_nav'>
    {% block nav_bar %}
    {% endblock nav_bar %}    
</div>			
  <div id="content">
<br />
    {% block content %}
	<a href="{%app_root%}/auth_sina"> 新浪围脖登录</a>
   	user:{{user}}	    
    {% endblock content %}
  </div>
  <div id="footer">
	<div style="border-bottom: 1px solid #7799dd;margin-bottom:10px;"></div>
  </div>
</body>
</html>

