{% extends "weibo/logined_base.html" %}

{% load reporting_tags %}

{% block content %}
	{% for e in data_list %}
	
	<table>
		<tr>
			<td>
			发布：{{e.user.screen_name}}, 
			状态：{{e.get_task_status_display}},
			
			价格：小于1万粉:{{e.price_1}}元, 1万～10万:{{e.price_2}}元
			10万以上:{{e.price_3}}元	
			<br/>
			&nbsp;
			竞标人数： <a href="{%app_root%}/task/{{e.id}}/contracts">{{e.custom_count}}</a>
			&nbsp;
			提交数量:
			<a href="{%app_root%}/task/{{e.id}}/contracts">{{e.submit_contract.count}}</a>			
			
			&nbsp;&nbsp;
			<a href="{%app_root%}/task/{{e.id}}">详细信息</a>
			&nbsp;&nbsp;
			<a href="{%app_root%}/do_task/{{e.id}}">竞标</a>
			</td>
		</tr>
		<tr>
			<td>
				{%ifequal e.task_type 'reply' %}
				转发：{{e.image_url}}
				{%else%}
				内容：{{e.content}}
				{%endifequal%} 
			</td>
		</tr>
		<tr>
			<td>{{e.create_time|date:"m月d日 H:i"}}, 标签:{{e.tags}}</td>
		</tr>		
	</table>
	<br/>
	{%endfor%}
{% endblock %}
