<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={G_encode}" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Widow-Target" content="_top" />
<title>{chapter_title} - {book_title} - {C_authorname} - {G_sitename}</title>
<meta name="Keywords" content="{chapter_title},{book_title},{C_authorname}" />
<meta name="Author" content="{C_authorname}" />
<link href="../../../../html/template/book.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"><!--//--><![CDATA[//><!--
	var G_siteurl = '{G_siteurl}';
//--><!]]></script>
<script src="../../../../include/js/common.js" type="text/javascript"></script>
<script src="../../../../include/js/ajax.js" type="text/javascript"></script>
<script src="../../../../include/js/read.js" type="text/javascript"></script>
<script src="../../../../include/js/xmlhttp.js" type="text/javascript"></script>
<script src="../../../../include/js/favorite.js" type="text/javascript"></script>
</head>
<body onload="javascript:setKeys('{bid}','{C_tchapterid}','<!-- IF C_lchapterid -->{C_lchapterid}<!-- ELSE -->index<!-- ENDIF -->','<!-- IF C_nchapterid -->{C_nchapterid}<!-- ELSE -->index<!-- ENDIF -->');">
<div id="page">
	<div id="head">
		<div class="nav_bg"><a href="../../../../" target="_blank">{G_sitename}</a></div> 
		<div class="nav_bg"><a href="../../../../novellib.php" target="_blank">总书库</a></div>
		<div class="nav_bg"><a href="../../../../novel.php?bid={bid}" target="_blank">{book_title}</a></div>
		<div id="rd8_font_lang" style="margin-left:32% !important; margin-left:25%;"></div>
		<!-- IF C_lchapterid --><div id="pagelink"><a href="{C_lchapterid}.html" title="快捷键: 左方向键(←)">上一页</a></div>
		<!-- ENDIF --><div id="pagelink"><a href="index.html" title="快捷键: 回车">目录</a></div>
		<!-- IF C_nchapterid --><div id="pagelink"><a href="{C_nchapterid}.html" title="快捷键: 右方向键(→)">下一页</a></div><!-- ENDIF -->
		<div id="fave"><span onclick="javascript:favorite('{bid}', '{cid}');">收藏书签</span></div>
	</div>
	<hr />
	<div id="middle">
		<div id="fontsize" style="margin-left:65% !important;*margin-left:33%;"></div>
		<div id="pagecolor"></div>
	</div>

	<h1 id="title" title="{book_title} - {chapter_title}">{chapter_title}</h1>
	<h2 id="author">作者: {C_authorname}</h2>
	<div id="info"></div>
	<div id="content"><!-- r8artlbegin -->{C_content}<!-- r8artlend --></div>
	<div id="foot">
		<!-- IF C_lchapterid --><div class="pagelinks" style="margin-left:30% !important; margin-left:16%;"><a href="{C_lchapterid}.html" title="快捷键: 左方向键(←)">上一页</a></div><!-- ENDIF -->
		<div class="pagelinks"><a href="index.html" title="快捷键: 回车">目录</a></div>
		<!-- IF C_nchapterid --><div class="pagelinks"><a href="{C_nchapterid}.html" title="快捷键: 右方向键(→)">下一页</a></div><!-- ENDIF --> 
		<div class="pagelinks"><span onclick="javascript:vote('{bid}');">投票</span></div>
	</div>
	<hr />
	<div id="copyright">Copyright&nbsp;&copy;&nbsp;2008 {G_sitename} All Rights Reserved<br />本作品系网友发表，仅代表作者本人观点，与本站立场无关。<br />如有章节错误、排版不齐或版权疑问、作品内容有违相关法律等情况，请联系管理员。</div>
</div>
<script src="../../../../click.php?ajax=1&amp;bid={bid}" type="text/javascript"></script>
<script src="../../../../include/js/lang.js" type="text/javascript"></script>
<script src="../../../../include/js/f_lang.js" type="text/javascript"></script>
</body>
</html>