	<div class="rd8_fullborder">
		<div class="rd8_head">信息资料管理中心</div>
		<div class="rd8_userinfo" style="width:30%;margin:1px auto;">
			<table>
				<tr>
					<td width="35%" align="right">用户名:&nbsp;</td>
					<td>&nbsp;{F_username}</td>
				</tr>
				<tr>
					<td align="right">E-mail:&nbsp;</td>
					<td>&nbsp;{email}</td>
				</tr>
				<!--<tr class="rd8_col1" >
					<td align="right">{G_MoneyTitle}:&nbsp;</td>
					<td>&nbsp;<span style="font-weight: bold;">{money}</span></td>
				</tr>-->
				<tr>
					<td align="right">注册时间:&nbsp;</td>
					<td>&nbsp;{dateline_DATE_Y-m-d H:i:s}</td>
				</tr>
				<tr class="rd8_colt">
					<td align="center" colspan="2" class="t1"><a href="my/profile_edit.php">修改基本信息</a></td>
				</tr>
			</table>
		</div>
	</div>
