	<script type="text/javascript"><!--//--><![CDATA[//><!--
		function setattach(id,action) {
			$('cover'+id).disabled = action;
		}
		function editor_submit(){
			editor.save();
			if($('article_textarea').value == '') {
				alert('内容为空');
				return false;
			}
			if($('title').value == '') {
				alert('标题为空');
				return false;
			}
			$('submit').value = "提交中";
			$('submit').disabled = true;
		}
		var _attach = 0;
		function append_attach(){
			var li = document.createElement('li');
				li.id = 'newattach_' + _attach;
				li.innerHTML = '新附件: <input type="file" name="newattach[]" id="newattachfile_' + _attach + '" size="36" \/> <label for="newattachdelete_' + _attach + '"><input type="checkbox" id="newattachdelete_' + _attach + '" onclick="javascript:attach_change(\'' + _attach + '\');" \/> 删除<\/label>';

			$('rd8_newattach').appendChild(li);

			_attach++;
		}
		function attach_change(_attach){
			var state = $('newattachdelete_' + _attach).checked;
			$('newattach_' + _attach).style.cssText = 'text-decoration: ' + (state ? 'line-through' : 'none') + ';';
			$('newattachfile_' + _attach).disabled = state;
		}
	//--><!]]></script>

	<div class="rd8_fullborder">
		<form id="rd8_chapteredform" method="post" action="typewriter/?bid={id}&action=chapter_add" enctype="multipart/form-data" onsubmit="return editor_submit();">
			<div class="rd8_head"><a href="typewriter/">作品管理</a> => 更新《{title}》</div>
			<div class="rd8_col0">
				<table id="rd8_typewriter">
					<tr>
						<td width="15%" align="center"><strong>章节标题</strong></td>
						<td width="35%"><input type="text" name="title" id="rd8_title" /></td>
						<td width="15%" align="center"><strong>内容提要</strong></td>
						<td width="35%"><input type="text" name="description" /></td>
					</tr>
					<tr class="rd8_col1">
						<td align="center"><strong>插入章节</strong></td>
						<td>
							在
							<select name="insertbefore">
									<option value="0">无</option>
<!-- BEGIN chapters -->
									<option value="{priority}">{title}</option>
<!-- END chapters -->
							</select>
							之前
						</td>
						<td align="center"><strong>插入卷标</strong></td>
						<td><input type="text" name="volumetitle" /></td>
					</tr>
					<tr >
						<td><strong>章节内容</strong></td>
						<td colspan="3">{editor}</td>
					</tr>
<!-- IF upload -->
					<tr class="rd8_col1">
						<td align="center"><strong>上传附件</strong></td>
						<td colspan="3">
							(最大允许 {upload}, 允许附件类型: {formats}, 不合法附件将自动忽略)<br />
							<ul style="list-style-type: none;margin: 0;padding: 0; color: Blue;" id="rd8_newattach">
							</ul>
							<span class="rd8_a" onclick="javascript:append_attach();">[+]</span>
						</td>
					</tr>
				<script type="text/javascript">
<!-- BEGIN attachs -->
					append_attach_with_value('{f}', '{t}', {s});
<!-- END attachs -->
					append_attach();
				</script>
<!-- ENDIF -->
				</table>
			</div>
			<div class="rd8_colt" style="text-align: center;">
				发表本章然后
				<label for="rd8_tolist"><input type="radio" name="gotonext" id="rd8_tolist" value="0" checked="checked" /> 返回到列表</label>
				<label for="rd8_tonew"><input type="radio" name="gotonext" id="rd8_tonew" value="1" /> 继续更新</label>
				<input type="submit" value=" 执 行 " id="rd8_submit" title="提交中" />
				<input type="hidden" name="bid" value="{bid}" />
				<input type="reset" value=" 返 回 " name="location.href='typewriter/'" />
			</div>
		</form>
	</div>
