{% extends "base.html" %}

{% block body %}
<script type="text/javascript" src="/static/js/jquery-ui-1.6.custom.min.js"></script>
<script type="text/javascript">
	
	$.widget("ui.dialog", {
		_init: function() {
			this.element.draggable({handle:'.title'});
			this.originalTitle = this.element.attr('title');
		}, 
	});
	
	$(document).ready(function(){
		$("#dialog1").dialog();
    });

</script>
	
<div id="dialog1" style="background:#cccccc;border:1px solid #eee;width:200px;height:100px;">
	<div class='title' style="background:#ffcc33;cursor:move;">			
		<a href="#" id="close">[ x ]</a>
		Preferences
	</div>
	<div>
		Hello world.
	</div>
</div>


{% endblock %}